:root {
    --main-nav-height: 10px;
}

.fh-row {
    height: calc(100vh - 8rem);
    display: flex;
}

.fh-row .fh-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.intro-text h2{
    font-size: 5.5rem;
}